.add_todo {
  width: 100%;
  background-color: white;
  border: 0;
  color: black;
  border-radius: 999px;
  margin-right: 20px;

}
.add_todo > form > input {
  width:80%;
  border-radius: 999px;
  border: 0;
  outline-style: none;
  padding :10px
}
.add_todo > form > button {
  background-color: white;
  border : 0;
  outline-style: none;
}
.add_todo > form > button:hover {
  border : 0;
  outline-style: none;
}
.fiter_todo > select {
  padding: 10px;
  border-radius: 999px;
  outline-style: none;
}
