* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #282c34 !important

}
.App {
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  margin : 5% 25% 3% 25%;
}
.header {
  display : flex ;
  
}